*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #e6dada;
    line-height: 1.6;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 220px;
    text-align: center;
    margin: 0;
    padding: 18px;
    border-radius: 5px;
    background-color: rgb(34, 116, 139);
    border: 2px solid rgba(6, 33, 41, 0.511);;
}

header h1{
    color: white; 
    margin-top: 5px;
    margin-bottom: 5px; 
}

header p{
    color: rgb(202, 195, 195);
    margin-bottom: 10px;
    margin-top: 5px;
}

header div{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    padding: 2px;
}
.controls input {
    background-color: rgb(180, 197, 202);
    border: none;
    border-radius: 12px;
    padding: 8px 12px;           
    width: 220px;                 
    font-size: 16px;              
    color: #333;                  
    outline: none;               
    transition: all 0.3s ease;    
}

.controls input::placeholder {
    color: #555;          
    text-align: center;     
}

.controls input:focus {
    background-color: #cce0e6; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

header nav{
    display: flex;
    gap: 200px;
    justify-content: center;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.controls input{
    height: 25px;
    width: 220px;
}

nav div{
    width: 100%;
    background-color: rgb(211, 203, 219); 
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-radius: 12px;;
}
section {
    padding: 10px;
    max-width: 900px;
    margin: 20px auto;
    scroll-margin-top: 220px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: white;
}

section h2 {
    text-align: left;
    margin-bottom: 15px;
    color: rgb(34, 116, 139);
}
#key-point {
    background-color: rgb(34, 116, 139);
    color: white;
    padding: 5px 10px;
    border-radius: 5px; 
}
#html-content h4{
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
}
#html-content h3{
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 20px ;
}
#html-content p{
    font-size: 19px;
    margin-bottom: 25px;
}

#explore-html {
    display: block;
    margin: 15px auto;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(34, 116, 139);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#explore-html:hover {
    background-color: rgb(34, 116, 139);
}


/* ---------- */

/* styling for css  */

#css-key-point {
    background-color: rgb(34, 116, 139);
    color: white;
    padding: 5px 10px;
    border-radius: 5px; 
}
#css-content h4{
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
}
#css-content h3{
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 20px ;
}
#css-content p{
    font-size: 19px;
    margin-bottom: 25px;
}

#explore-css {
    display: block;
    margin: 15px auto;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(34, 116, 139);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#explore-css:hover {
    background-color: rgb(34, 116, 139);
}

/* ---- */
/* styling for js */

#js-key-point {
    background-color: rgb(34, 116, 139);
    color: white;
    padding: 5px 10px;
    border-radius: 5px; 
}
#js-content h4{
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
}
#js-content h3{
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 20px ;
}
#js-content p{
    font-size: 19px;
    margin-bottom: 25px;
}

#explore-js {
    display: block;
    margin: 15px auto;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(34, 116, 139);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#explore-js:hover {
    background-color: rgb(34, 116, 139);
}
